<!-- Inlog registeren -->

<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<title>index</title>

<main>
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <main>

        <article style="position: fixed;">
            <br><br>
            <br><br>
            <br><br>

            <h1 style="text-align:center">inlog en registeren Jos</h1>
            <img style="width: 27em;"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgifimage.net%2Fwp-content%2Fuploads%2F2017%2F06%2Fyou-can-do-it-gif-4.gif&f=1&nofb=1"
                alt="">
        </article>
    </main>

</main>

</html>