<!-- Like dislike... overzicht ofiets? -->

<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<title>Like Dislike</title>

<main>
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <main>

        <article style="position: fixed;">
            <br><br>
            <br><br>
            <br><br>

            <h1 style="text-align:center">overzicht  like dislike ofzo Pepijn🤔</h1>
            <img style="width: 27em;"
                src="https://1.bp.blogspot.com/-kzCvakW_r58/W5PeQOH881I/AAAAAAAACiI/BD73V6J1IuMcQMoLFnrr20YAosttodKGACLcBGAs/s1600/Brent%2BRambo%2Bthumbs%2Bup.gif"
                alt="">
        </article>
    </main>

</main>

</html>